$black: #000;
$white: #fff;
$off-white: #f2f2f7;
$transparent: hsla(0, 0%, 100%, 0);
$error: #f9585d;
$warning: #ffb60a;
$success: #23c741;
$gray: #434344;
$light-gray: #424243;
$dark: #141415;
$light-orange: #f5634d;
$orange-gradient: #ff5e24;
$brand-fire: #f04405;
$brand-water: #0d102b;
